<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookvert">

    <application
        android:name=".util.Cookvert"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipes.activities.RecipesActivity"
            android:label="@string/title_activity_recipes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".shoppinglist.activities.ShopListsActivity"
            android:label="@string/title_activity_shoplists"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".conversion.activities.ConvertActivity"
            android:label="@string/title_activity_convert"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".recipes.activities.EditRecipeActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".shoppinglist.activities.EditShopListActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>